page-inicio {
    .btnhome {
        padding:5%;
        margin-top:20%;
    }
    .h1home{
        font-size:16vw;
        margin-top:30%;
        text-align: center;
    }
    .h3home{
        text-align: center;
    }
}
